<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>D:/Program Files (x86)/Backend-Study/project-study/RDC一轮：咸鱼/xianyu-trading-platform/backend/.m2repo</localRepository>
</settings>

